<div class="panel panel-default">
<div class="panel-heading font-bold">
	新建学生信息
</div>
<div class="panel-body">

<%= render 'form', student: @student %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
</div>
</div>